<header class="topbar" id="topbar" style="background-color: rgb(17, 49, 17);">
  <div class="d-flex align-items-center">
    <button class="btn btn-sm btn-light me-2 d-lg-none" id="hamburgerBtn">
      <i class="bi bi-list"></i>
    </button>
    <div class="brand"><span class="text-success"></span></div>
  </div>

  <div class="nav-actions position-relative">
    <div class="nav-icon icon-badge" id="emailIcon" title="Email" data-count="5">
      <i class="bi bi-envelope-fill"></i>
    </div>
    <div class="nav-icon icon-badge" id="smsIcon" title="SMS" data-count="4">
      <i class="bi bi-chat-dots-fill"></i>
    </div>
    <div class="nav-icon icon-badge" id="notifIcon" title="Notifications" data-count="2">
      <i class="bi bi-bell-fill"></i>
    </div>
    <div class="nav-icon" id="profileIcon" title="Profile">
      <i class="bi bi-person-circle"></i>
    </div>
  </div>
  
</header>

